<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
  </head>

  <body>
    <div class="container-login">
      <div>
        <form class="devbook-form" id="form-signup">
          <span>Create a new account!</span>
          <div>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="name"
              required="required"
            />
          </div>
          <div>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="e-mail"
              required="required"
            />
          </div>
          <div>
            <input
              type="text"
              name="nickname"
              id="nickname"
              placeholder="nickname"
              required="required"
            />
          </div>
          <div>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
              required="required"
            />
          </div>
          <div>
            <input
              type="password"
              name="password-confirmation"
              id="password-confirmation"
              placeholder="password"
              required="required"
            />
          </div>
          <a href="/login"> Back to login </a>
          <button type="submit" class="btn-devbook">Signup</button>
        </form>
      </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/signup.js"></script>
  </body>
</html>
